{% extends 'base.html' %}

{% block title %}<title>Contact Us</title>{% endblock title %}

{% block content %}
    <h1>Welcome to Django Book Library</h1>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, libero. Adipisci, excepturi dolores aliquid corrupti eos laudantium velit obcaecati ea quos magni non explicabo dolor amet quibusdam. Velit, earum fugiat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum aut necessitatibus tempora sed voluptatibus temporibus recusandae maxime impedit nobis voluptate amet delectus cumque, ipsam atque expedita at cupiditate doloremque esse.</p>
{% endblock content %}