<form class="" method="POST" enctype="multipart/form-data">
    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Book Title</label>
        <div class="col-sm-10">
            {{ form.title }}
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Published Date</label>
        <div class="col-sm-10">
            {{ form.publish_date }}
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Author Full Name</label>
        <div class="col-sm-10">
            {{ form.author_full_name }}
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Abstract</label>
        <div class="col-sm-10">
            {{ form.abstract }}
        </div>
    </div>
    <input type="submit" class="ui btn btn-primary" value="Submit">
    <a class="ui button" href={% url 'book-list-page'%}>Back to Book List</a>

    {% comment %} {{form.as_p}} {% endcomment %}
</form>