<form class="" method="POST" enctype="multipart/form-data">
    <!-- Security token -->
    {% csrf_token %}

{% comment %} 
    {% for field in form %}
        <div class='mb-3 col-6 {% if field.field.required %}{{ form.required_css_class }}{%endif%}'>
            {{ field.errors }}   
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" class="ui btn btn-primary" value="Submit">
    <a class="ui button" href={% url 'book-list-page'%}>Back to Book List</a>
 {% endcomment %}


    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Book Title</label>
        <div class="col-sm-10">
            {{ form.title }}
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Published Date</label>
        <div class="col-sm-2">
            {{ form.publish_date }}
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Author Full Name</label>
        <div class="col-sm-10">
            {{ form.author_full_name }}
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Cover Image</label>
        <div class="col-sm-10">
            {{ form.cover_image }}
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">eBook (PDF)</label>
        <div class="col-sm-10">
            {{ form.ebook_pdf }}
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Abstract</label>
        <div class="col-sm-10">
            {{ form.abstract }}
        </div>
    </div>
    <input type="submit" class="ui btn btn-primary" value="Submit">
    <a class="ui button" href={% url 'book-list-page'%}>Back to Book List</a>
</form>